<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-safeguard"
    version="0.1.6">
    <name>SafeGuard</name>
    <description>Cordova plugin for security checks and device integrity verification</description>
    <license>MIT</license>
    <keywords>cordova,security,root,malware,tampering</keywords>
    
    <js-module src="www/safeguard.js" name="Safeguard">
        <clobbers target="Safeguard" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Safeguard">
                <preference name="EXPECTED_PACKAGE_NAME" value="$PACKAGE_NAME" />
                <param name="android-package" value="com.webileapps.safeguard.cordova.SafeguardPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/SafeguardPlugin.java" target-dir="src/com/webileapps/safeguard/cordova" />
        
        <!-- Gradle Configuration -->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Safeguard">
                <param name="ios-package" value="SafeguardPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <source-file src="src/ios/SafeguardPlugin.m" />
        <header-file src="src/ios/SafeguardPlugin.h" />
        <podspec>
            <pods use-frameworks="true">
                <pod name="SafeGuardiOS" spec="~> 0.1.1" />
            </pods>
        </podspec>
    </platform>
</plugin>
